doctype html
html
  head
    title Verification Code
  body
    h1 Your Verification Code
    p Please use the following code to verify your account:
    h2 #{code}
    p This code will expire in 10 minutes.
